Data Structure

Series - One dimensional data structure

In [ ]:
import pandas as pd
x=[1,2,3,4,5]
var=pd.Series(x,index=['a','b','c','d','e'],dtype=float,name="python")
print(var)
print(type(var))

In [ ]:
dic ={'Name':['Alice','Bob','Charlie','David','Eva'],
      'Age':[24,27,22,32,29],
      'City':['New York','Los Angeles','Chicago','Houston','Phoenix']}
df=pd.Series(dic)
print(df)
print(type(df))

In [ ]:
s=pd.Series(12,index=[0,1,2,3,4])
print(s)
print(type(s))

In [ ]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3,4])

print(s1+s2)
print(s1-s2)